In [44]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
from wait_for import wait_for

In [45]:
driver = webdriver.Firefox()

In [46]:
driver.implicitly_wait(10)

In [47]:
driver.get("http://www.dallascad.org/SearchAddr.aspx")

In [48]:
class wait_for_page_load(object):

    def __init__(self, browser):
        self.browser = browser

    def __enter__(self):
        self.old_page = self.browser.find_element_by_tag_name('html')

    def page_has_loaded(self):
        new_page = self.browser.find_element_by_tag_name('html')
        return new_page.id != self.old_page.id

    def __exit__(self, *_):
        wait_for(self.page_has_loaded)

In [49]:
elem1 = driver.find_element_by_name("AcctTypeCheckList1:chkAcctType:1")
elem1.click()
elem2 = driver.find_element_by_name("AcctTypeCheckList1:chkAcctType:2")
elem2.click()

In [50]:
elem = driver.find_element_by_name("txtStName")
elem.clear()
elem.send_keys("LA AVENIDA")

In [51]:
with wait_for_page_load(driver):
    elem.send_keys(Keys.RETURN)
    assert "No results found." not in driver.page_source

In [53]:
html1=[]
nextFlag = True
counter = 0
while nextFlag:
    try:
        html1.append(driver.page_source)
        driver.implicitly_wait(10)
        if counter == 0:
            aa = driver.find_element_by_xpath("//table[@id='SearchResults1_dgResults']/tbody/tr[1]/td[1]/a[1]")
        else:
            aa = driver.find_element_by_xpath("//table[@id='SearchResults1_dgResults']/tbody/tr[1]/td[1]/a[2]")
        print(counter)
        counter = counter + 1

        with wait_for_page_load(driver):
            driver.find_element_by_link_text('NEXT >').click()
            #driver.implicitly_wait(10)
    except:
        nextFlag = False

0
1
2
3

In [54]:
counter

4

In [56]:
#Generate lists
A=[]
B=[]
C=[]
D=[]
E=[]
F=[]
G=[]
counter = 1
myflag = True

for myhtml in html1:
    soup = BeautifulSoup(myhtml)
    driver.implicitly_wait(10)
    searchtable =  soup.find('table', {"id" : "SearchResults1_dgResults"})
    if searchtable is not None :
        for row in searchtable.findAll("tr"):
            cells = row.findAll('td')
            #print cells[1].text


            if (len(cells)==6 and counter > 2 and cells[0].text != "#") : #Only extract table body not heading
                A.append(cells[0].text.replace("\n", ""))
                B.append(cells[1].text.replace("\n", "").replace("\t", ""))
                C.append(cells[2].text.replace("\n", "").replace("\t", ""))
                D.append(cells[3].text.replace("\n", "").replace("\t", ""))
                E.append(cells[4].text.replace("\n", "").replace("\t", ""))
                F.append(cells[5].text.replace("\n", "").replace("\t", ""))
                links = cells[1].find_all('a')
                if len(links) > 0 :
                    G.append(links[0].get("href"))
                else:
                    G.append("None")
            counter = counter + 1

C:\ProgramData\Anaconda3\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file C:\ProgramData\Anaconda3\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [57]:
counter

58

In [58]:
import pandas as pd

df=pd.DataFrame(A,columns=['Number'])
df['Property_Address']=B
df['City']=C
df['Owner_Name']=D
df['Total_Value']=E
df['Type']=F
df['URL']=G

df

,Number,Property_Address,City,Owner_Name,Total_Value,Type,URL
0,1,7505 LA AVENIDA DR,DALLAS ...,HANNA DAVID J & ...,"$260,000",RESIDENTIAL,AcctDetailRes.aspx?ID=00000797986000000
1,2,7511 LA AVENIDA DR,DALLAS ...,ROWLAND JAMES E ...,"$216,140",RESIDENTIAL,AcctDetailRes.aspx?ID=00000797989000000
2,3,7515 LA AVENIDA DR,DALLAS ...,YARBROUGH REAL ESTATE INC ...,"$214,010",RESIDENTIAL,AcctDetailRes.aspx?ID=00000797992000000
3,4,7521 LA AVENIDA DR,DALLAS ...,MURRAY MARCIA ASEL ...,"$252,450",RESIDENTIAL,AcctDetailRes.aspx?ID=00000797995000000
4,5,7525 LA AVENIDA DR,DALLAS ...,WALSH JOSHUA RYAN & ...,"$289,640",RESIDENTIAL,AcctDetailRes.aspx?ID=00000797998000000
5,6,7533 LA AVENIDA DR,DALLAS ...,HART THOMAS J ...,"$273,160",RESIDENTIAL,AcctDetailRes.aspx?ID=00000798001000000
6,7,7607 LA AVENIDA DR,DALLAS ...,TELANEUS TIMOTHY S & ...,"$312,010",RESIDENTIAL,AcctDetailRes.aspx?ID=00000798004000000
7,8,7615 LA AVENIDA DR,DALLAS ...,BROYLES SAM D & CHRISTINA M ...,"$288,830",RESIDENTIAL,AcctDetailRes.aspx?ID=00000798007000000
8,9,7620 LA AVENIDA DR,DALLAS ...,STEVENSON DANIEL C & ...,"$282,550",RESIDENTIAL,AcctDetailRes.aspx?ID=00000797932000000
9,10,7621 LA AVENIDA DR,DALLAS ...,ZIGROSSI CATHY M ...,"$236,220",RESIDENTIAL,AcctDetailRes.aspx?ID=00000798010000000
10,11,7625 LA AVENIDA DR,DALLAS ...,LILES SUZANNE ...,"$279,000",RESIDENTIAL,AcctDetailRes.aspx?ID=00000798013000000
11,12,7626 LA AVENIDA DR,DALLAS ...,SAGE EVA E ...,"$271,460",RESIDENTIAL,AcctDetailRes.aspx?ID=00000797929000000
12,13,7630 LA AVENIDA DR,DALLAS ...,SPAULDING ELIZABETH JANE ...,"$267,740",RESIDENTIAL,AcctDetailRes.aspx?ID=00000797926000000
13,14,7631 LA AVENIDA DR,DALLAS ...,HOOFARD DIANNE C ...,"$300,140",RESIDENTIAL,AcctDetailRes.aspx?ID=00000798016000000
14,15,7635 LA AVENIDA DR,DALLAS ...,VALLEJO MARGARET C ...,"$320,580",RESIDENTIAL,AcctDetailRes.aspx?ID=00000798019000000
15,16,7636 LA AVENIDA DR,DALLAS ...,BRANDTLYONS II MICHAEL JOHN & LAUREN EDSON ...,"$323,670",RESIDENTIAL,AcctDetailRes.aspx?ID=00000797923000000
16,17,7640 LA AVENIDA DR,DALLAS ...,WELLS MERLE ...,"$348,340",RESIDENTIAL,AcctDetailRes.aspx?ID=00000797920000000
17,18,7641 LA AVENIDA DR,DALLAS ...,MORRIS WILLIAM K E TR ...,"$298,450",RESIDENTIAL,AcctDetailRes.aspx?ID=00000798022000000
18,19,7645 LA AVENIDA DR,DALLAS ...,MORRIS BARBARA A LIFE EST ...,"$320,860",RESIDENTIAL,AcctDetailRes.aspx?ID=00000798025000000
19,20,7646 LA AVENIDA DR,DALLAS ...,BOYER MARY JUNE LIFE ESTATE ...,"$321,650",RESIDENTIAL,AcctDetailRes.aspx?ID=00000797917000000
20,21,7650 LA AVENIDA DR,DALLAS ...,CROSSMAN STEPHEN P & ...,"$270,540",RESIDENTIAL,AcctDetailRes.aspx?ID=00000797914000000
21,22,7651 LA AVENIDA DR,DALLAS ...,ADAMS ADAM W ...,"$267,230",RESIDENTIAL,AcctDetailRes.aspx?ID=00000798028000000
22,23,7655 LA AVENIDA DR,DALLAS ...,JENNESS RICHARD C ...,"$313,580",RESIDENTIAL,AcctDetailRes.aspx?ID=00000798031000000
23,24,7656 LA AVENIDA DR,DALLAS ...,DOBBINS DARREN & KIMBERLY ...,"$344,080",RESIDENTIAL,AcctDetailRes.aspx?ID=00000797911000000
24,25,7706 LA AVENIDA DR,DALLAS ...,HOYT DORIS I TRUST ...,"$274,770",RESIDENTIAL,AcctDetailRes.aspx?ID=00000797908000000
25,26,7707 LA AVENIDA DR,DALLAS ...,SILVA FERNANDO SOLIS ...,"$315,210",RESIDENTIAL,AcctDetailRes.aspx?ID=00000798034000000
26,27,7710 LA AVENIDA DR,DALLAS ...,KELLAR PATRICIA N ...,"$312,510",RESIDENTIAL,AcctDetailRes.aspx?ID=00000797905000000
27,28,7711 LA AVENIDA DR,DALLAS ...,WARREN RACHEL K & ...,"$318,750",RESIDENTIAL,AcctDetailRes.aspx?ID=00000798037000000
28,29,7716 LA AVENIDA DR,DALLAS ...,VASQUEZ YOLANDA M ...,"$345,720",RESIDENTIAL,AcctDetailRes.aspx?ID=00000797902000000
29,30,7717 LA AVENIDA DR,DALLAS ...,FRERICH BRADLEY J & ...,"$267,650",RESIDENTIAL,AcctDetailRes.aspx?ID=00000798040000000
30,31,7720 LA AVENIDA DR,DALLAS ...,WOLCOTT LAUREL & JUSTIN ...,"$380,810",RESIDENTIAL,AcctDetailRes.aspx?ID=00000797899000000
31,32,7721 LA AVENIDA DR,DALLAS ...,WEIS VICTOR A ...,"$262,480",RESIDENTIAL,AcctDetailRes.aspx?ID=00000798043000000
32,33,7726 LA AVENIDA DR,DALLAS ...,SNYDER KATHRYN ...,"$292,260",RESIDENTIAL,AcctDetailRes.aspx?ID=00000797896000000
33,34,7727 LA AVENIDA DR,DALLAS ...,ALBERT CHAD RYAN ...,"$350,730",RESIDENTIAL,AcctDetailRes.aspx?ID=00000798046000000
34,35,7730 LA AVENIDA DR,DALLAS ...,PIATT FRANK N ...,"$287,940",RESIDENTIAL,AcctDetailRes.aspx?ID=00000797893000000
35,36,7731 LA AVENIDA DR,DALLAS ...,CZERLINSKY CHRISTOPHER & ...,"$316,790",RESIDENTIAL,AcctDetailRes.aspx?ID=00000798049000000
36,37,7736 LA AVENIDA DR,DALLAS ...,PENNY JASON DANIEL & ...,"$302,670",RESIDENTIAL,AcctDetailRes.aspx?ID=00000797890000000
37,38,7737 LA AVENIDA DR,DALLAS ...,ROLLINGS KIM ...,"$281,970",RESIDENTIAL,AcctDetailRes.aspx?ID=00000798052000000
38,39,7740 LA AVENIDA DR,DALLAS ...,SATTERFIELD D MICHAEL ...,"$273,150",RESIDENTIAL,AcctDetailRes.aspx?ID=00000797887000000
39,40,7741 LA AVENIDA DR,DALLAS ...,LUDLUM ROGER L & JANE ...,"$323,390",RESIDENTIAL,AcctDetailRes.aspx?ID=00000798055000000
40,41,7744 LA AVENIDA DR,DALLAS ...,GAYLOR DOROTHY J LIFE EST ...,"$277,840",RESIDENTIAL,AcctDetailRes.aspx?ID=00000797884000000
41,42,7747 LA AVENIDA DR,DALLAS ...,STORMS REBECCA ...,"$320,810",RESIDENTIAL,AcctDetailRes.aspx?ID=00000798058000000

In [59]:
driver.close()

In [60]:
df.to_csv("dallas.csv")